<h1>Página principal</h1> 
<button (click)="onSubmit()" class="btn btn-outline-danger mt-5">Logout</button>
<br>
<form (ngSubmit)="onSubmit()">
    <h3>Filtrar</h3>
    <h4>Desde</h4>
    <div class="mb-3">
        <label class="form-label">Año</label>
        <input type="text" [(ngModel)]="fromYear" name="fromYear" placeholder="fromYear" required>
        <label class="form-label">Mes</label>
        <input type="text" [(ngModel)]="fromMonth" name="fromMonth" placeholder="fromMonth" required>
    </div>
    <h4>Hasta</h4>
    <div class="mb-3">
        <label class="form-label">Año</label>
        <input type="text" [(ngModel)]="toYear" name="toYear" placeholder="toYear" required>
        <label class="form-label">Mes</label>
        <input type="text" [(ngModel)]="toMonth" name="toMonth" placeholder="toMonth" required>
    </div>
    <br>
    <input type="submit" value="BUSCAR">
</form>
<h1>Índice de materias primas en dolares</h1>
<table *ngIf="seRecibio">
    <thead>
        <tr>
          <th>Fecha</th>
          <th>Dolares</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of datosSerie; let i = index" [attr.data-index]="i">
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
        </tr>
      </tbody>
</table>
